[submodule "nvim/nvim/plugins/coc.nvim"]
	path = nvim/nvim/plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "/home/baka/temp/bare_repo/nvim/nvim/plugins/indent-blankline.nvim"]
	path = /home/baka/temp/bare_repo/nvim/nvim/plugins/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "/home/baka/temp/bare_repo/nvim/nvim/plugins/nvim-tree.lua"]
	path = /home/baka/temp/bare_repo/nvim/nvim/plugins/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "/home/baka/temp/bare_repo/nvim/nvim/plugins/nvim.osc52"]
	path = /home/baka/temp/bare_repo/nvim/nvim/plugins/nvim.osc52
	url = https://github.com/ojroques/nvim-osc52
[submodule "/home/baka/temp/bare_repo/nvim/nvim/plugins/sidebar.nvim"]
	path = /home/baka/temp/bare_repo/nvim/nvim/plugins/sidebar.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
